* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --var-color: rgb(0, 238, 255);

}

.container {
    width: 1140px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;

}

body {
    font-family: 'Mukta', sans-serif;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ 
        top header section css start
  *************************************/
.header {
    width: 100%;

    background-color: #8c92a0;
    border-bottom: 10px solid black
}

.top-navbar {
    width: 100%;
    padding: 45px;

    border-bottom: 1px solid #f3f3f4;
}

.nav-manu {

    display: flex;

    justify-items: center;
    align-items: center !important;
}

.search {
    flex-basis: 30%;
    color: #8c92a0;

}

.logo {
    flex-basis: 50%;
    text-align: center;

}

.search input {

    padding: 12px;
    font-size: 16px;
    border: none;
    color: #8c92a0;
    transition: 0.5s;

}

.search input:focus {
    outline: none;
    padding-left: 0px;
    transition: 0.5s;
}

.logo a {
    color: #25262A;
    border: 2px solid #25262a;
    cursor: pointer;
    letter-spacing: 4px;
    font-size: 20px;
    padding: 0px 10px;
    text-transform: uppercase;
}

/* .logo {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--var-color);

} */

.icons {
    flex-basis: 20%;
    padding: 0px 10px;

    text-align: right !important;


}

.icons ul li {
    display: inline-block;
    margin: 0px 10px;
    font-size: 15px;

}

.icons a {
    color: #8c92a0;
    cursor: pointer;
}

.icons a:hover {
    color: #000;
}

.icons .site-cart {
    position: relative;
    display: block;
    color: #8c92a0;


}

.icons .site-cart:hover {
    color: #000;
    padding-top: 5px;

}

.icons .count {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    margin-top: -22px;
    margin-right: -18px;
    height: 23px;
    width: 23px;
    line-height: 23px;
    font-size: 13px;
    text-align: center;
    border-radius: 50%;
    background: #7971EA;
    color: #fff;
    transition: .2s all ease-in-out;


}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ 
            manubar section css start
  *************************************/
.manubar {
    width: 100%;


}



.manu-content {
    width: 100%;
    text-align: center;
    padding: 0px 0px 0px 40px;
}

.manubar ul li {
    display: inline-block;
    padding: 20px 5px;
    position: relative;


}

.manubar ul li a {
    color: #25262A;
    padding: 10px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    transition: all 0.3s;


}

.manubar ul li a:hover {
    color: #7971EA;
}

.manu-content .list-item:active {
    color: #7971EA;
}

.dropdown-content {
    display: none;
}

.manubar ul li:hover .dropdown-content {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;

    background-color: rgb(192, 146, 146);
}

.manubar ul li:hover.dropdown-content ul {
    display: block;
    margin: 10px;

}

.manubar ul li:hover .dropdown-content ul li {
    width: 150px;
    padding: 10px;
}

.fas {
    float: right;
    margin-left: 10px;
    padding-top: 5px;

}

.dropdown-content-1 {
    display: none;
}

.dropdown-content ul li:hover .dropdown-content-1 {
    display: block;
    position: absolute;
    top: 0px;
    left: 150px;
    background-color: rgb(170, 115, 115)
}

/* banner section css start */