* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --var-color: rgb(0, 238, 255);

}

.container {
    width: 1140px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;

}

body {
    font-family: 'Mukta', sans-serif;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ 
        top header section css start
  *************************************/
.header {
    width: 100%;

    background-color: #8c92a0;
    border-bottom: 10px solid black
}

.top-navbar {
    width: 100%;
    padding: 45px;

    border-bottom: 1px solid #e5e7edad;
}

.nav-manu {

    display: flex;

    justify-items: center;
    align-items: center !important;
}

.search {
    flex-basis: 30%;
    color: #8c92a0;

}

.logo {
    flex-basis: 50%;
    text-align: center;

}

.search input {

    padding: 12px;
    font-size: 16px;
    border: none;
    color: #8c92a0;
    transition: 0.5s;

}

.search input:focus {
    outline: none;
    padding-left: 0px;
    transition: 0.5s;
}

.logo a {
    color: #25262A;
    border: 2px solid #25262a;
    cursor: pointer;
    letter-spacing: 4px;
    font-size: 20px;
    padding: 0px 10px;
    text-transform: uppercase;
}

/* .logo {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--var-color);

} */

.icons {
    flex-basis: 20%;
    padding: 0px 10px;

    text-align: right !important;


}

.icons ul li {
    display: inline-block;
    margin: 0px 10px;
    font-size: 15px;

}

.icons a {
    color: #8c92a0;
    cursor: pointer;
}

.icons a:hover {
    color: #000;
}

.icons .site-cart {
    position: relative;
    display: block;
    color: #8c92a0;


}

.icons .site-cart:hover {
    color: #000;
    padding-top: 5px;

}

.icons .count {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    margin-top: -22px;
    margin-right: -18px;
    height: 23px;
    width: 23px;
    line-height: 23px;
    font-size: 13px;
    text-align: center;
    border-radius: 50%;
    background: #7971EA;
    color: #fff;
    transition: .2s all ease-in-out;


}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ 
            manubar section css start
  *************************************/
.manubar {
    width: 100%;


}



.manu-content {
    width: 100%;
    text-align: center;
    padding: 0px 0px 0px 40px;
}

.manubar ul li {
    display: inline-block;
    padding: 20px 5px;
    position: relative;


}

.manubar ul li a {
    color: #25262A;
    padding: 10px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    transition: all 0.3s;


}

.manubar ul li a:hover {
    color: #7971EA;
}

.manu-content .list-item:active {
    color: #7971EA;
}

.dropdown-content {
    display: none;
}

.manubar ul li:hover .dropdown-content {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;

    background-color: #ffffff
}

.manubar ul li:hover.dropdown-content ul {
    display: block;
    margin: 10px;

}

.manubar ul li:hover .dropdown-content ul li {
    width: 150px;
    padding: 10px;
}

.fas {
    float: right;
    margin-left: 10px;
    padding-top: 5px;

}

.dropdown-content-1 {
    display: none;
}

.dropdown-content ul li:hover .dropdown-content-1 {
    display: block;
    position: absolute;
    top: 0px;
    left: 150px;
    background-color: #fff;
}

.dropdown-content-1:hover {
    background-color: #8c92a0;
}

/* banner section css start */
.banner {
    width: 100%;
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;



    background-size: cover;

    background-attachment: scroll;
    padding: 120px 0px;

}

.banner-content {
    display: flex;
}

.banner-content .left {
    flex-basis: 60%;
}

.banner-content .right {
    flex-basis: 40%;
}

.right h1 {
    font-size: 50px;
    color: black;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 20px;
}

.right p {
    color: #333333;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 25px;
}

.btn-banner {
    padding: 15px 25px;
    color: #fff;
    background-color: #7971ea;
    border-color: #7971ea;
    font-weight: 300;
    cursor: pointer;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    transition: 0.2s all ease-in-out;
}

.btn-banner:hover {
    box-shadow: 0 5px 20px -7px rgb(0 0 0 / 90%);
    background-color: #5a50e5;
    transition: 0.2s all ease-in-out;
    /* margin-top: -2px; */
    transform: translateY(-2px);
}

/* about section  css start */
.about {
    width: 100%;
    padding: 60px 0;
    border-bottom: 1px solid #e5e7edad;

}

.about-content {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
}

.about .item {
    display: flex;
    padding: 0px 15px;
}

.about .item .icon {
    padding-right: 20px;
    flex-basis: 20%;
    color: #7971ea;
    top: -10px;
    font-size: 50px;
}

.about .item .content {
    flex-basis: 80%;
}

.about .item .content h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
    color: #25262a;
}

.about .item .content p {
    line-height: 1.7;
    color: #8c92a0;
    font-weight: 300;
    font-size: 16px;
}

/* about section  css end */
/* category section css start */
.category {
    width: 100%;
    padding: 100px 0;

}

.category-content {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 32px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.c-item {
    position: relative;
    overflow: hidden;
}

.c-item img {
    z-index: -1;
    transition: 0.5s;
}

.overlay {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    /* display: none; */
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}

.c-item-content {
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: white;
    z-index: 9999;

}

.c-item-content h6 {
    font-size: 12px;
    letter-spacing: .1em;
    font-weight: 900;
    color: #fff;
}

.c-item-content h2 {
    color: #fff;
    font-size: 40px;
}

.c-item:hover img {
    transform: scale(1.1);
    z-index: -1;
}

/* category section css end */
/* product section css start */
.product {
    width: 100%;
    padding: 100px 0;
    background-color: #F8F9FA;
    ;
}

.section-title {
    text-align: center;
}

.line {
    width: 50px;
    height: 2px;
    margin: auto;
    background-color: blue;
}

.section-title h2 {
    font-size: 30px;
    color: #25262a;
    padding: 20px 0px 30px;
}

.product-content .item .p-text {
    text-align: center;
    padding: 30px;

}

.product-content .item .hero-text {
    font-size: 20px;
    color: #7971ea;
}

.product-content .item .hero-text {
    font-size: 20px;
    color: #7971ea;
    font-weight: 700
}

.product-content .p-item p {
    line-height: 1.7;
    color: #8c92a0;
    font-weight: 300;
    font-size: 16px;
}

.product-content .p-item:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.owl-dots {
    display: none;
}

.owl-prev {
    font-size: 42px !important;
    margin-right: 30px !important;
}

.owl-next {
    font-size: 42px !important;
}

/* product section css end */
/* sale section css start */
.sales {
    width: 100%;
    padding: 80px 0;
    border-bottom: 1px solid #e5e7edad;
}

.sale-part {
    display: flex;
    padding: 20px 0px 0px;
}

.sale-part .left {
    flex-basis: 60%;

}

.sale-part .right {
    flex-basis: 40%;
    text-align: center;
    padding: 0px 20px 0px 50px;

    margin: auto;

}

.sale-part .right h2 {
    font-size: 30px;

}

.sale-part .right p {
    color: #c4c7ce;
}

.sale-part .right a {
    color: #7971ea;
    text-decoration: none;

}

.sale-part .right .dot {
    margin: 0px 10px
}

.sale-part .right .details {
    line-height: 1.7;
    color: #8c92a0;
    font-weight: 300;
    font-size: 16px;
}

/* sale section css end */
/* fotter section css start */
.footer {
    width: 100%;
    padding: 80px 0;
}

.footer-content {
    display: flex;
}

.navigation {
    flex-basis: 50%;
}

.promo {
    flex-basis: 25%;
    padding: 0px 15px;
}

.contact-info {
    flex-basis: 25%;
    padding: 0px 15px;
}

.list {
    display: grid;
    grid-template-columns: auto auto auto;
}

.list .list-items li {
    padding: 0px 15px;
}

.list li a {
    color: #5c626e;
    margin-bottom: 15px;
    display: inline-block;


}

.list .nav-left {
    flex-basis: 33.33%;
}

.list .nav-middle {
    flex-basis: 33.33%;
}

.list .nav-right {
    flex-basis: 33.33%;
}

.footer-heading {
    font-size: 20px;
    color: #25262a;
    margin-bottom: 16px;
    padding: 0px 15px;
}

.promo .title {
    font-size: 18px;
    font-weight: 300;
    color: #7971EA;
    margin-top: 20px;
}

.promo p {
    color: #737b8a;
}

.location {
    display: flex;

}

.ocation-text,
.phone-number,
.email-text {
    padding: 5px 0px;
}

.location-icon,
.phone-icon,
.email-icon {

    color: #7971ea;
    font-size: 18px;
    padding: 10px 15px;

}

.from-heading {
    font-size: 25px;
    padding: 20px 0;
    color: #25262a
}

.from-group .input-text {
    padding: 15px 8px;
    font-size: 18px;
    font-weight: 300;
    /* border: none; */
    color: #25262a;
    width: 270px;
    border: 1px solid #7971ea;
    border-radius: 8px;
    position: relative;

}

.from-group .btn-sub {
    font-size: 14px;
    color: #fff;
    background: #7971ea;
    padding: 14px 16px;
    border: none;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-radius: 6px;
    cursor: pointer;
    transition: .5s;

    position: absolute;
    margin-top: 5px;
    right: 158px;
}


.copywrite {
    padding: 80px 0px 40px;
    text-align: center;
    line-height: 1.7;
    color: #8c92a0;
    font-weight: 300;
    font-size: 16px;
}

.fa-heart {
    color: red;
}

/* fotter section css end */